<!--~~~~~~~~~~~~~~~~~~~~ Footer Snippet ~~~~~~~~~~~~~~~~~~~~-->

<footer>
    <ul>
        <li>&copy; Copyright 2012 {{ shop.name }}. Website by <a href="http://manyhatsdesign.com">Manyhats Design</a>, UK.</li>
    </ul>
</footer>