// This file should eventually use liquid variables. I may have to override the default validation settings in SASS.

$link-color: blue;
$link-hover-color: blue;
$featured-text-color: red;
$button-background-color: gery;
$button-background-hover-color: red;
$button-text-color: white;
$cta-background-color: orange;
$cta-background-hover-color: tomato;
$cta-text-color: blue;
$sale-price-color: red;
$sale-banner-color: black;

$panel-background-color: #ccc;
$panel-text-color: black;
$border-color: teal;

$background-color: white;
$header-background-color: grey;
