{% include 'slider' %}

<section class="homepage-notice">
	<h2>{{ settings.homepage-notice-title }}</h2>
	<div class="rte">
		{{ settings.homepage-notice-text }}
	</div>
</section>

{% include 'featured-product' %}

<!-- TODO: Add Popular Products -->
<!-- Hello Danny -->