{% if search.performed %}


  {% paginate search.results by settings.pagination %}

  {% if search.results_count == 0 %}
    <h2>Sorry, nothing matches that!</h2>
    <p>try searching again</p>
  {% else %}

    <h1>Search Results for {{ search.terms }}</h1>
    <p>{{ search.results_count }} results</p>

    <section class="product-grid">
  	  {% for product in search.results %}
        {% include 'product-box' %}
  	  {% endfor %}
    </section>

    	<div id="pagination">
    		{{ paginate | default_pagination }}
    	</div>

  {% endif %}
  {% endpaginate %}

{% else %}

  <form action="/search" method="get" class="search-form" role="search">
    <p>
      <input type="text" name="q" value="{{ search.terms | escape }}" />
      <input type="submit" value="Search store..." />
    </p>
  </form>

{% endif %}
